@page
@model AguadeCactus.WebSite.Pages.Product.Add


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
        
</head>
<body>
<div>
    <form method="post">
        <h1 class="text-white">Productos</h1>
        <div>
            <input type="hidden"/>
            <input asp-for="ProductDto.Name" type="text" class="form-control" placeholder="Nombre" maxlength="45">
            <span class="text-danger" asp-validation-for="ProductDto.Name"></span>
                        
            <br/>
            
            <input asp-for="ProductDto.Price" type="text" class="form-control" placeholder="Precio" maxlength="45">
            <span class="text-danger" asp-validation-for="ProductDto.Price"></span>
            
            <br/>
            <div class="form-group col-md-4">
                <label for="inputSize">Tamaño</label>
                <select asp-for="ProductDto.Size" id="inputSize" class="form-control">
                    <option selected>Chico</option>
                    <option>Mediano</option>
                    <option>Grande</option>
                </select>
                <span class="text-danger" asp-validation-for="ProductDto.Size"></span>
            </div>
            
            <br/>
            <div class="form-group col-md-4">
                <label for="inputCategory">Categoria</label>
                <select name="SelectedOption" asp-for="ProductDto.IdCategory" id="inputCategory" class="form-control">
                    <option value="">Select option</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.id">@category.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="ProductDto.IdCategory"></span>
            </div>
            
            
            
            <div class="form-group">
                <label for="FormControlDescription"></label>
                <textarea asp-for="ProductDto.Description" class="form-control" id="FormControlDescription" rows="3" placeholder="Descripción", maxlength="45"></textarea>
                <span class="text-danger" asp-validation-for="ProductDto.Description"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-light btn-lg btn-block">Save</button>
            <a href="/Index" class="btn btn-light btn-lg btn-block">Cancelar</a>

        </div>
        @if (Model.Errors.Count > 0) 
        { 
            <div class="alert alert-danger" role="alert">
                <ul>
                    @foreach (var error in Model.Errors)
                    {
                        <li>An error</li>
                    }
                </ul>
            </div> 
        }
        
    </form>
    <form method="get">
        
        
    </form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tamaño</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
                @foreach (var product in @Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Size</td>
                        <td>@product.IdCategory</td>
                        <td>@product.Description</td>
                        <td>
                            <a a-asp-area="" asp-page="/Product/Edit" asp-route-id="@product.id"
                               class="btn btn-light btn-lg btn-block" role="button">Edit</a>
                            <br/>
                            <a a-asp-area="" asp-page="/Product/Delete" asp-route-id="@product.id"
                               class="btn btn-light btn-lg btn-block" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    

</div>
</body>
</html>