@page
@model AguadeCactus.WebSite.Pages.AddPromotion


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/promotion.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
        
</head>
<body>
<div>
    <form method="post">
        <h1 class="text-white">Promociones</h1>
        <div>
            <input type="hidden"/>
            <input asp-for="PromotionDto.Name" type="text" class="form-control" placeholder="Nombre" maxlength="45">
            <span class="text-danger" asp-validation-for="PromotionDto.Name"></span>
            <br/>
            <div class="form-group col-md-4">
                <label for="inputDuration">Duración</label>
                <select asp-for="PromotionDto.Duration" id="inputDuration" class="form-control">
                    <option selected>1 día</option>
                    <option>2 días</option>
                    <option>3 días</option>
                    <option>1 semana</option>
                    <option>2 semanas</option>
                    <option>3 semanas</option>
                    <option>1 mes</option>
                </select>
                <span class="text-danger" asp-validation-for="PromotionDto.Duration"></span>
            </div>
            <div class="form-group">
                <label for="FormControlDescription"></label>
                <textarea asp-for="PromotionDto.Description" class="form-control" id="FormControlDescription" rows="3" placeholder="Descripción", maxlength="45"></textarea>
                <span class="text-danger" asp-validation-for="PromotionDto.Description"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary mr-3">Save</button>
            <a href="" class="btn btn-light btn-lg btn-block">Actualizar</a>
            <a href="" class="btn btn-light btn-lg btn-block">Borrar</a>
            <a href="/Index" class="btn btn-light btn-lg btn-block">Cancelar</a>

        </div>
        @if (Model.Errors.Count > 0) 
            { 
                <div class="alert alert-danger" role="alert">
                    <ul>
                        @foreach (var error in Model.Errors)
                        {
                            <li>An error</li>
                        }
                    </ul>
                    </div> 
            }
        
    </form>
    <form method="get">
        
        </form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Duración</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
                @foreach (var promotion in @Model.Promotions)
                {
                    <tr>
                        <td>@promotion.Name</td>
                        <td>@promotion.Duration</td>
                        <td>@promotion.Description</td>
                        <td>
                            <a a-asp-area="" asp-page="/Promotion/Edit" asp-route-id="@promotion.id"
                               class="btn btn-light btn-lg btn-block" role="button">Edit</a>
                            <br/>
                            <a a-asp-area="" asp-page="/Promotion/Delete" asp-route-id="@promotion.id"
                               class="btn btn-light btn-lg btn-block" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
    

</div>
</body>
</html>