@page
@model AguadeCactus.WebSite.Pages.Category.AddCategoryPayment

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-white">Categorias y pagos</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-white">Categorias</h2>
                <div class="form-group">
                    <label asp-for="CategoryDto.Name" class="text-white">Nombre</label>
                    <input asp-for="CategoryDto.Name" type="text" class="form-control" placeholder="Nombre" maxlength="45">
                    <span class="text-danger" asp-validation-for="CategoryDto.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryDto.Description" class="text-white">Descripción</label>
                    <input asp-for="CategoryDto.Description" type="text" class="form-control" placeholder="Descripcion" maxlength="45">
                    <span class="text-danger" asp-validation-for="CategoryDto.Description"></span>
                </div>

                <h2 class="text-white">Pagos</h2>
                <div class="form-group">
                    <label asp-for="PaymentMethodDto.Name" class="text-white">Nombre</label>
                    <input asp-for="PaymentMethodDto.Name" type="text" class="form-control" placeholder="Nombre" maxlength="45">
                    <span class="text-danger" asp-validation-for="PaymentMethodDto.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethodDto.Description" class="text-white">Descripción</label>
                    <input asp-for="PaymentMethodDto.Description" type="text" class="form-control" placeholder="Descripcion" maxlength="45">
                    <span class="text-danger" asp-validation-for="PaymentMethodDto.Description"></span>
                </div>

                @if (Model.Errors.Count > 0)
                {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <button type="submit" class="btn btn-light btn-lg btn-block mb-2">Agregar</button>
                <a href="/Index" class="btn btn-light btn-lg btn-block">Cancelar</a>
            </div>
        </div>
    </form>
    <form method="get">
            
            
        </form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
                @foreach (var category in @Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <a a-asp-area="" asp-page="/Category/Edit" asp-route-id="@category.id"
                               class="btn btn-light btn-lg btn-block" role="button">Edit</a>
                            <br/>
                            <a a-asp-area="" asp-page="/Category/Delete" asp-route-id="@category.id"
                               class="btn btn-light btn-lg btn-block" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
                @foreach (var paymentMethod in @Model.PaymentMethods)
                {
                    <tr>
                        <td>@paymentMethod.Name</td>
                        <td>@paymentMethod.Description</td>
                        <td>
                            <a a-asp-area="" asp-page="/PaymentMethod/Edit" asp-route-id="@paymentMethod.id"
                               class="btn btn-light btn-lg btn-block" role="button">Edit</a>
                            <br/>
                            <a a-asp-area="" asp-page="/PaymentMethod/Delete" asp-route-id="@paymentMethod.id"
                               class="btn btn-light btn-lg btn-block" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
