@page
@model AguadeCactus.WebSite.Pages.Sale.AddSalesDetail

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/sale.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
<div>
    
    <div>
        <h1 class="text-white">Ventas</h1>
        
        <!--Espacio de detalles de venta-->
        <h2 class="text-white">Detalles</h2>

        <div class="form-group">
            <label asp-for="SaleDetailDto.IdProduct" class="text-white">Producto</label>
            <select id="Product" name="SelectedOption" class="form-control" asp-for="SaleDetailDto.IdProduct">
                @foreach (var product in Model.Products)
                {
                    <option value="@product.id">@product.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SaleDetailDto.IdProduct"></span>
        </div>
        
        
        <div class="container">
            <div class="quantity-container">
                <span class="quantity-label">Cantidad</span>
                <button class="btn btn-sm" id="decrement">-</button>
                <input type="text" id="quantity" value="1" readonly>
                <button class="btn btn-sm" id="increment">+</button>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Subtotal">
    </div>
    <div>
        <!--Espacio para ventas-->
        <h2 class="text-white">Venta</h2>
        <div class="form-group">
            <label asp-for="SaleDto.IdPaymentMethod" class="text-white">Metodo de pago</label>
            <select id="PaymentMethod" name="SelectedOption" class="form-control" asp-for="SaleDto.IdPaymentMethod">
                @foreach (var paymentMethod in Model.PaymentMethods)
                {
                    <option value="@paymentMethod.id">@paymentMethod.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SaleDto.IdPaymentMethod"></span>
        </div>
        
        <input type="text" class="form-control" placeholder="Total">
        <div class="form-group">
            <label for="Birthdate">BirthDate:</label>
            <input id="Birthdate" class="form-control" type="date" asp-for="SaleDto.Date" required/>
        </div>
        <div class="form-group">
            <label asp-for="SaleDto.IdUser" class="text-white">Usuario</label>
            <select id="User" name="SelectedOption" class="form-control" asp-for="SaleDto.IdUser">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.id">@user.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SaleDto.IdUser"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="SaleDto.IdSaleDetail" class="text-white">Metodo de pago</label>
            <select id="SaleDetail" name="SelectedOption" class="form-control" asp-for="SaleDto.IdPaymentMethod">
                @foreach (var paymentMethod in Model.PaymentMethods)
                {
                    <option value="@paymentMethod.id">@paymentMethod.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SaleDto.IdPaymentMethod"></span>
        </div>
        
        
    </div>
</div>
<br/>
<div>
    <a href="" class="btn btn-light btn-lg btn-block">Finalizar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Borrar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Actualizar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Cancelar</a>
    
</div>
<script>
        $(document).ready(function () {
                $('#decrement').click(function () {
                    let currentValue = parseInt($('#quantity').val());
                    if (currentValue > 1) {
                        $('#quantity').val(currentValue - 1);
                    }
                });
        
                $('#increment').click(function () {
                    let currentValue = parseInt($('#quantity').val());
                    $('#quantity').val(currentValue + 1);
                });
            });
    </script>


</body>
</html>