@page
@model AguadeCactus.WebSite.Pages.Product.ListProductPromotion


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
</head>
<body>
<div class="container-fluid">
    <form method="get">
    </form>
    
    <div class="row">
        <h2>Productos</h2>
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Tamaño</th>
                    <th></th>
                </tr>
                @foreach (var product in @Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Size</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <h2>Promociones</h2>
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Duración</th>
                    <th></th>
                </tr>
                @foreach (var promotion in @Model.Promotions)
                {
                    <tr>
                        <td>@promotion.Name</td>
                        <td>@promotion.Description</td>
                        <td>@promotion.Duration</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>